<a class="editTrans" style="color:black;" target="_edit" href="admin/editTranscription.php?d={{pk}}">&nbsp;</a>
<div class="audio">
  {{#isProtoLg}}*{{/isProtoLg}}
  {{#isTransAssumed}}<sup>?</sup>{{/isTransAssumed}}
  {{#hasTrans}}[{{/hasTrans}}
  <div class="transcription{{#fileMissing}} fileMissing{{/fileMissing}}"{{#smallCaps}} style="font-variant: small-caps;"{{/smallCaps}}>{{{phonetic}}}</div>
  {{#hasTrans}}]{{/hasTrans}}
  {{#subscript}}
  <div class="subscript" title="{{ttip}}">{{subscript}}</div>
  {{/subscript}}
  {{#notCognate}}
  <div class="superscript" title="{{ttip}}">{{sInf}}</div>
  {{/notCognate}}
  <audio data-onDemand='{{{srcs}}}' preload="auto" autobuffer=""></audio>
  {{#_srcs}}
  <span class="subscript wordByWord soundFile"{{^wordByWord}} style="display: none;"{{/wordByWord}}>
    <a href="export/singleSoundFile?file={{.}}" target="_blank">↓</a>
  </span>
  {{/_srcs}}
  {{#identifier}}
  <span class="subscript wordByWord"{{^wordByWord}} style="display: none;"{{/wordByWord}}>
    <a href="export/singleTextFile?word={{word}}&language={{language}}&study={{study}}&n={{n}}" target="_blank">↧</a>
  </span>
</div><br />
{{/identifier}}
{{#break}}<br>{{/break}}
