{{# TopMenu}}
<div class="navbar-inner span2">
  <div id="home">
    <a title="{{homeTitle}}" href="#home"><i class="icon-home"></i></a>
  </div>
  <ul id="topmenuFamilies" class="nav">
    <li>
      <a class="dropdown-toggle topLink"
         data-toggle="dropdown"
         ><i class="icon-dropdown-custom"></i>{{currentStudyName}}</a>
      <ul class="dropdown-menu">
      {{#studies}}
        <li{{#isDivider}} class="divider disabled"{{/isDivider}}{{#currentStudy}} class="disabled"{{/currentStudy}}>
        {{^isDivider}}{{#link}}<a {{{.}}}>{{/link}}
        {{studyName}}
        {{#link}}</a>{{/link}}
        {{/isDivider}}
        </li>
      {{/studies}}
      </ul>
    </li>
  </ul>
</div>
<div class="navbar-inner span8">
  <ul class="nav nav-tabs">
    {{#pageViews}}
    <li {{#active}}class="active"{{/active}}>
      <a {{{link}}} {{^active}}class="topLink"{{/active}} title="{{title}}">
      {{#img}}<img class="pvImg" src="img/{{img}}">{{/img}}
      {{{content}}}
      </a>
    </li>
    {{/pageViews}}
  </ul>

  {{#isOnline}}
  <span id="topmenuDownloads" class="nav input-append btn-group">
    <img id="createShortLink" title="{{createShortLink}}" class="btn btn-mini icon" src="img/link.png">
    <div class="btn-group">
      <a class="btn btn-mini btn-dropdown" data-toggle="dropdown">
        <i class="icon-download-alt"></i>
      </a>
      <ul class="dropdown-menu" style="min-width:0px !important; width:92px !important; padding:10px 10px !important">
        <a href="{{csvLink}}" target="_blank" class="btn btn-mini" title="{{csvTitle}}">
          <img src="img/DownloadTranscriptions.png" style="height: 18px;">
        </a>
        <a href="{{tsvLink}}" target="_blank" class="btn btn-mini" title="{{tsvTitle}}">
          <img src="img/edictor-small.png" style="height: 18px;">
        </a>
        <a target="_blank" class="btn btn-mini soundFile" title="{{sndTitle}}">
          <i class="icon-volume-up"></i>
        </a>
      </ul>
    </div>
    <a class="btn btn-mini btn-dropdown" data-toggle="dropdown" title="{{cogTitle}}">
      <i class="icon-cog"></i>
    </a>
    <ul class="dropdown-menu">
      <li>
        <label class="checkbox">
          <input type="checkbox" value="" id="wordByWordCheckbox">
          {{wordByWord}}
        </label>
      </li>
      <li class="divider"></li>
      <li>
        {{format}}
        {{#formats}}
        <label class="radio">
          <input type="radio" name="wordByWordFormat" value="{{.}}">{{.}}
        </label>
        {{/formats}}
      </li>
    </ul>
  </span>
  {{/isOnline}}

  <div class="btn-group" style="margin-right:8px;float: right;">
    <a class="btnbtn-dropdown" data-toggle="modal" data-target="#statsModal" style="cursor: pointer">
      <img title="{{statisticsText}}" src="img/stats.png" style="height: 20px;margin-top:3px;">
    </a>
  </div>
  <!-- copyrightModal -->
  <div id="statsModal" class="modal hide fade" tabindex="-1">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{currentStudyName}}: {{statisticsText}}</h4>
        </div>
        <div class="modal-body">
          <center>
            <table border=0>
              <tr><td align="right">{{numOfLangs}}:</td><td align="left"> {{num_langs}}</td></tr>
              <tr><td align="right">{{numOfWords}}:</td><td align="left"> {{num_words}}</td></tr>
              <tr><td align="right">{{numOfTrans}}:</td><td align="left"> {{num_trans}}</td></tr>
              <tr><td align="right">{{numOfSounds}}:</td><td align="left"> {{num_sounds}}</td></tr>
              <tr><td align="right">{{numOfTransSounds}}:</td><td align="left"> {{num_trsounds}}</td></tr>
            </table>
          </center>
        </div>
  </div>

  <div class="btn-group" style="float: right;">
    <a class="btnbtn-dropdown" data-toggle="modal" data-target="#copyrightModal" style="cursor: pointer">
      <img title="{{licenceTooltip}}" src="img/copyright.png" style="height: 20px;margin-top:3px;">
    </a>
  </div>
  <!-- copyrightModal -->
  <div id="copyrightModal" class="modal hide fade" tabindex="-1">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{licenceTooltip}}</h4>
        </div>
        <div class="modal-body">
          <center>
            <a rel="license" target="_blank" href="{{licenceTextHref}}">
              <img src="img/cc-by-nc-nd.png" style="height: 46px" />
            </a>
            <br />
            <a rel="license"  target="_blank" href="{{licenceTextHref}}" style="margin-top: 15px">
              <span>{{{licenceText}}}.</span>
            </a>
          </center>
        </div>
  </div>

  <div class="btn-group" style="margin-right:5px;float: right;">
    <a class="btnbtn-dropdown" data-toggle="modal" data-target="#citeModal" style="cursor: pointer">
      <img title="{{citeTooltip}}" src="img/cite.png" style="height: 20px;margin-top:3px;">
    </a>
  </div>

  <div id="citeModal" class="modal hide fade" tabindex="-1">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{citeTooltip}}</h4>
        </div>
        <div class="modal-body">
            <ul id="citeTabs" class="nav nav-tabs" style="float:none !important">
              <li class="active"><a data-toggle="tab" href="#citeText">Text</a></li>
              <li><a data-toggle="tab" href="#citeBibtex">BibTeX</a></li>
            </ul>
            <div id="citeTabsContent" class="tab-content">
              <div id="citeText" class="tab-pane fade in active">
                <p style="padding:10px 10px; border-top: 1px solid #ccc">
                  <blockquote>{{citationText}}</blockquote>
                </p>
              </div>
              <div id="citeBibtex" class="tab-pane fade">
                <p style="padding:10px 10px; border-top: 1px solid #ccc; font-size:80%">
                  <pre>{{citationBibtex}}</pre>
                </p>
              </div>
            </div>
            <div><a href="#/about/How-to-Cite:--{{citationStudy}}"><img onclick="$('#citeModal').modal('hide');" style="height:24px" src="img/info.png"></a></div>
        </div>
  </div>
  <div id="citeModalHome" class="modal hide fade" tabindex="-1">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{citeTooltip}}</h4>
        </div>
        <div class="modal-body">
            <ul id="citeTabs" class="nav nav-tabs" style="float:none !important">
              <li class="active"><a data-toggle="tab" href="#citeTextHome">Text</a></li>
              <li><a data-toggle="tab" href="#citeBibtexHome">BibTeX</a></li>
            </ul>
            <div id="citeTabsContent" class="tab-content">
              <div id="citeTextHome" class="tab-pane fade in active">
                <p style="padding:10px 10px; border-top: 1px solid #ccc">
                  <blockquote>{{{citationTextHome}}}</blockquote>
                </p>
              </div>
              <div id="citeBibtexHome" class="tab-pane fade">
                <p style="padding:10px 10px; border-top: 1px solid #ccc; font-size:80%">
                  <pre>{{citationBibtexHome}}</pre>
                </p>
              </div>
            </div>
            <div><a href="#/about/How-to-Cite:--All-Sound-Comparisons"><img onclick="$('#citeModalHome').modal('hide');" style="height:24px" src="img/info.png"></a></div>
        </div>
  </div>

</div>
<div class="navbar-inner span2">
  <ul id="topmenuSettings" class="nav nav-tabs" style="margin-left:5px !important">
    <li>
      <button type="button" data-toggle="dropdown" class="btn btn-mini dropdown-toggle" title="{{settingTitle}}" style="height:22px !important;margin-top:3px !important"><i class="icon-wrench"></i></button>
      <ul class="dropdown-menu">
        <li>
          {{ipaTooltipFontSize}}
          {{#IPATooltipFontSize}}
          <label class="radio">
            <input type="radio" name="IPATooltipFontSize" value="{{.}}">{{.}}
          </label>
          {{/IPATooltipFontSize}}
        </li>
        <li>
          {{showDataAs}}
          {{#ShowDataAs}}
          <label class="radio">
            <input type="radio" name="ShowDataAs" value="{{val}}">{{display}}
          </label>
          {{/ShowDataAs}}
        </li>
        <li>
          {{coloriseDataAs}}
          {{#ColoriseDataAs}}
          <label class="radio">
            <input type="radio" name="ColoriseDataAs" value="{{val}}">{{display}}
          </label>
          {{/ColoriseDataAs}}
        </li>
        <li>
          {{soundPlayMode}}
          {{#SoundPlayMode}}
          <label title="{{title}}" class="radio">
            <input type="radio" name="SoundPlayMode" value="{{val}}">{{display}}
          </label>
          {{/SoundPlayMode}}
        </li>
      </ul>
    </li>
  </ul>
  <ul id="topmenuSiteLang" class="nav">
    <li>
      <a class="dropdown-toggle topLink" data-toggle="dropdown">
         {{#currentFlag}}<img class="flag" src="{{.}}">{{/currentFlag}}
         <span class="caret"></span>
       </a>
      <ul class="dropdown-menu">
        {{#otherTranslations}}
        <li><a onclick="App.translationStorage.setTranslationId({{tId}});setTimeout(function(){App.views.renderer.render();},100);">{{#flag}}<img class="flag" src="{{.}}">{{/flag}}{{name}}</a></li>
        {{/otherTranslations}}
      </ul>
    </li>
  </ul>
  <ul id="topmenuMisc" class="nav nav-tabs">
    <li>
      <img id="openContributors" title="{{viewContributors}}" style="margin-top:3px !important" src="img/people.png">
    </li>
  </ul>
  {{#isOnline}}
  <ul id="topmenuAbout" class="nav">
    <li>
      <a class="dropdown-toggle topLink"
         data-toggle="dropdown">
        <img src="img/info.png">
      </a>
      <ul class="dropdown-menu">
        {{#aboutEntries}}
        <li><a {{{target}}} {{{link}}}>{{about}}</a></li>
        {{/aboutEntries}}
      </ul>
    </li>
  </ul>
  {{/isOnline}}
  <ul id="logo">
  <a target="_blank"
     title="{{logoTitle}}"
     href="http://www.shh.mpg.de/440148/soundcomparisons"
     ><img src="img/logo.png"></a>
  </ul>
</div>
{{/ TopMenu}}
