<div class="row-fluid">
  {{#wordHeadline}}
  {{#prev}}
  <div class="span3 prev-next">
    <a id="prevLink" {{{link}}} title="{{ttip}}" class="pull-left nounderline">
    <div class="color-word inline">{{trans}}{{#ttip}}…{{/ttip}} </div>← {{title}}</a>
  </div>
  {{/prev}}
  <div class="span6 centertext" id="tableHeader">
    <div class="autocomplete" style="margin-left: -14%;">
      <input id="word_choice_default" class="hidden" value="{{name}}"/>
      <input class="autocomplete_input color-word" id="word_choice" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" value="{{name}}" onkeyup="App.views.renderer.model.wordView.autocompleteWord(this,'w');" onfocus="App.views.renderer.model.wordView.closeAllLists();this.select()"  ondblclick="this.select()"/>
      {{#stname}}<span class="smallname">{{stname}}</span>{{/stname}}
      <span>
        {{#mapsLink}}
        {{> WordMapsLink}}
        {{/mapsLink}}
        {{#concepticonLink}}
        {{> ConcepticonLink}}
        {{/concepticonLink}}
      </span>
    </div>
  </div>
  {{#next}}
  <div class="span3 prev-next">
    <a id="nextLink" {{{link}}} title="{{ttip}}" class="pull-right nounderline">
      {{title}} →<div class="color-word inline"> {{trans}}{{#ttip}}…{{/ttip}}</div>
    </a>
  </div>
  {{/next}}
  {{/wordHeadline}}
</div>
